<ion-header>
  <ion-toolbar>
    <ion-title>Fill Your Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class]="modalBlurClass">

    <!--
          <ion-col size="5" style="background: url(https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/46492529_944213062444847_77…nc_ht=scontent.fdel1-2.fna&oh=0fd50b8…&oe=5DD75B03);
    background-size: cover;
    background-position: top;">

            <div style="background-color:#808080;height:100%;">

            </div>

        </ion-col>
    -->
    <ion-row>


        <ion-col >
            <div class="containerDiv">
                <ion-row style="align-items:center;">
                    <ion-col>
                        <img src="assets/imgs/logo.png" />
                    </ion-col>
                </ion-row>

            <div class="checkinFormClass">
                <form [formGroup]="checkinForm">

                    <ion-item>
                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="contacts"></ion-icon>
                                <b>Client Type <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-select formControlName="client_type" (ionChange)="clientTypeChange()" interface="popover" placeholder="Select Client Type">
                                    <ion-select-option value="New Client">New Client</ion-select-option>
                                    <ion-select-option value="Existing Client">Existing Client</ion-select-option>
                                </ion-select>
                            </ion-col>
                        </ion-row>


                    </ion-item>

                    <ion-item *ngIf="!isExistingClient" [class.invalid]="! checkinForm.controls.case_type.valid && (checkinForm.controls.case_type.dirty || clickedSubmitted)">
                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="git-network"></ion-icon>
                                <b>Case Type <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-select formControlName="case_type" interface="popover" placeholder="Select Case Type">
                                    <ion-select-option value="Immigration">Immigration</ion-select-option>
                                    <ion-select-option value="Personal Injury">Personal Injury</ion-select-option>

                                    <ion-select-option value="Criminal">Criminal</ion-select-option>
                                    <ion-select-option value="Other">Other</ion-select-option>
                                </ion-select>
                            </ion-col>
                        </ion-row>


                    </ion-item>


                    <ion-item [class.invalid]="! checkinForm.controls.contact.valid && (checkinForm.controls.contact.dirty || clickedSubmitted)">

                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="call"></ion-icon>
                                <b>Contact <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-input type="tel" (ionChange)="fetchClientDetails()" formControlName="contact" [brmasker]="{mask:'000-000-0000', len:12, type:'num'}" placeholder="Contact"></ion-input>

                            </ion-col>
                        </ion-row>

                    </ion-item>

                    <ion-item [class.invalid]="! checkinForm.controls.name.valid && (checkinForm.controls.name.dirty || clickedSubmitted)">
                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="person"></ion-icon>
                                <b>Name <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
                            </ion-col>
                        </ion-row>

                    </ion-item>

                    <ion-item [class.invalid]="! checkinForm.controls.alien_no.valid && (checkinForm.controls.alien_no.dirty || clickedSubmitted)">

                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="list"></ion-icon>
                                <b>Alien Number:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-input type="tel" formControlName="alien_no" placeholder="Alien Number"></ion-input>

                            </ion-col>
                        </ion-row>
                    </ion-item>

                    <ion-item *ngIf="!isExistingClient" [class.invalid]="! checkinForm.controls.email.valid && (checkinForm.controls.email.dirty || clickedSubmitted)">

                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="mail"></ion-icon>
                                <b>Email:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
                            </ion-col>
                        </ion-row>
                    </ion-item>


                    <ion-item *ngIf="!isExistingClient" [class.invalid]="! checkinForm.controls.address.valid && (checkinForm.controls.address.dirty || clickedSubmitted)">

                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="pin"></ion-icon>
                                <b>Address <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-textarea formControlName="address" placeholder="Address"></ion-textarea>
                            </ion-col>
                        </ion-row>



                    </ion-item>

                    <ion-item *ngIf="isExistingClient" [class.invalid]="! checkinForm.controls.appointment_with.valid && (checkinForm.controls.appointment_with.dirty || clickedSubmitted)">

                        <ion-row class="item_row">
                            <ion-col class="item_left" size="3">
                                <ion-icon name="flower"></ion-icon>
                                <b>Appointment With <span class="mandatory_field">*</span>:</b>
                            </ion-col>
                            <ion-col size="9">
                                <ion-item>
                                    <ion-select formControlName="appointment_with" interface="action-sheet" placeholder="Appointment With">
                                        <ion-select-option *ngFor="let user of userList" value="{{user.id}}">{{user.name}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                    </ion-item>

                </form>

                <ion-item lines="none" *ngIf="errorMessage!=undefined && errorMessage.length>0">
                    <p class="errorMsg">{{errorMessage}}</p>
                </ion-item>

                <ion-item lines="none" class="disclaimer">

                    <ion-row>
                        <ion-col size="1"> <ion-checkbox [checked]="disclaimerAccepted" (ionChange)="disclaimerMarkChanged()" [(ngModel)]="disclaimerAccepted"></ion-checkbox></ion-col>
                        <ion-col size="11">

                            <p class="disclaimerMsg">
                                By submitting this form, you agree to receive newsletter articles, marketing materials and information regarding your case via email and/or text messages from Dalbir Singh and Associates.
                            </p>
                        </ion-col>
                    </ion-row>

                </ion-item>

                <ion-row style="margin-top:30px;" class="buttonsRow">

                    <ion-col size="5">
                        <ion-button shape="round" class="backButton" (click)="goBack()">Back<ion-icon slot="start" src="assets/imgs/back.svg"></ion-icon></ion-button>
                    </ion-col>

                    <ion-col size="7">
                        <ion-button [disabled]="!checkinForm.valid || !disclaimerAccepted" shape="round" class="nextButton" (click)="submitForm()"><ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>Confirm Check-In</ion-button>
                    </ion-col>
                </ion-row>

                <ion-item lines="none">
                    <p class="tcMsg">
                        *Your privacy is very important to us and we do not share any information with third-party sites or affiliated companies. You have the option to opt-out at any time.
                    </p>
                </ion-item>

              </div>

            </div>
        </ion-col>
    </ion-row>



</ion-content>
