
ion-content {
    visibility: visible;
}

ion-select
{
    text-align:center;
    max-width:100%;
    flex:auto;
}

.errorMsg {
    text-align: center;
    width: 100%;
    color: var(--errorColor);
}



.containerDiv {
    text-align: center;
    height: 100%;
    margin-top: 50px;

    img {
        width: 144px;
        object-fit: contain;
        background-color: #06377a;
        
        padding: 24px;
    }

    .checkinFormClass {
        padding: 10px;
        margin-top: 50px;
    }

    b {
        margin-left: 10px;
    }

    @media (min-width: 700px) {
        img {
            width: 256px;
        }

        .checkinFormClass {
            padding: 0px 32px;
        }
    }

    @media (min-width: 1000px) {

        .checkinFormClass {
            padding: 0px 160px;
        }
    }

    @media (min-width: 1200px) {

        .checkinFormClass {
            padding: 0px 256px;
        }
    }

    ion-item {
        text-align: center;
        --background: transparent;
        color: black;

        ion-icon {
            color: black;
        }
    }

    .item_row {
        width: 100%;

        .item_left {
            text-align: left;
        }

        ion-col {
            margin: auto;
        }
    }
}

.disclaimer 
{
    ion-col {
        margin: auto 0px;
       
    }
}

.disclaimerMsg {
    text-align: justify;
}

.tcMsg {
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
}

.buttonsRow {
    ion-button {
        width: 50%;
    }

    ion-col {
        text-align: center;
    }
}

.blurBackground
{
    filter:blur(5px);
    
}

